<div>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="33">
      <js-pie-chart></js-pie-chart>
    </div>
    <div fxFlex="33">
      <js-bar-chart></js-bar-chart>
    </div>
    <div fxFlex="33">
      <js-stacked-area-chart></js-stacked-area-chart>
    </div>
  </div>
</div>
<br />
<mat-divider></mat-divider>
<br />
<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
  <mat-card fxFlex="25">
    <js-card label="New Users" total="12" percentage="50"></js-card>
  </mat-card>
  <mat-card fxFlex="25">
    <js-card label="User retention" total="10" percentage="10"></js-card>
  </mat-card>
  <mat-card fxFlex="25">
    <js-card label="User engagement" total="9" percentage="10"></js-card>
  </mat-card>
  <mat-card fxFlex="25">
    <js-card label="Referral" total="2" percentage="10"></js-card>
  </mat-card>
</div> -->
<br />
<div class="mat-elevation-z8 card" style=" margin-bottom: 40px;overflow: hidden;">
  <div fxLayout="row" fxLayoutAlign="space-between center"  fxLayoutGap="20px">
    <div fxFlex="100">
      <js-table></js-table>
    </div>
  </div>
</div>
